{
  "openapi": "3.1.0",
  "info": {
    "title": "CiteLadder API",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.citeladder.com"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key created in Settings → API keys, sent as `Authorization: Bearer cl_live_…`."
      }
    }
  },
  "paths": {
    "/v1/projects/{project_id}": {
      "get": {
        "tags": ["projects"],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "name": {
                      "type": "string"
                    },
                    "brand_name": {
                      "type": "string"
                    },
                    "website_url": {
                      "type": "string"
                    },
                    "industry": {
                      "type": "string"
                    },
                    "subindustry": {
                      "type": "string"
                    },
                    "primary_market": {
                      "type": "string"
                    },
                    "country_code": {
                      "type": "string"
                    },
                    "language_code": {
                      "type": "string"
                    },
                    "benchmark_mode": {
                      "type": "string",
                      "enum": ["consumer_like", "controlled_localized", "forced_grounded"]
                    },
                    "default_repetitions": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "brand": {
                      "type": "object",
                      "properties": {
                        "aliases": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "logo_url": {
                          "type": ["string", "null"]
                        },
                        "matching": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": ["always", "context_required"]
                            },
                            "context_terms": {
                              "default": [],
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "exclusion_phrases": {
                              "default": [],
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "common_word": {
                              "default": false,
                              "type": "boolean"
                            }
                          },
                          "required": ["mode", "context_terms", "exclusion_phrases", "common_word"],
                          "additionalProperties": false
                        }
                      },
                      "required": ["aliases"],
                      "additionalProperties": false
                    },
                    "owned_domains": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "unintended_domains": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "competitors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "name": {
                            "type": "string"
                          },
                          "aliases": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "domains": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "logo_url": {
                            "type": ["string", "null"]
                          },
                          "matching": {
                            "type": "object",
                            "properties": {
                              "mode": {
                                "type": "string",
                                "enum": ["always", "context_required"]
                              },
                              "context_terms": {
                                "default": [],
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "exclusion_phrases": {
                                "default": [],
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "common_word": {
                                "default": false,
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "mode",
                              "context_terms",
                              "exclusion_phrases",
                              "common_word"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": ["id", "name", "aliases", "domains"],
                        "additionalProperties": false
                      }
                    },
                    "prompt_sets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "project_id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "prompt_count": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "prompts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                "prompt_set_id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                "topic_id": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "format": "uuid",
                                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "text": {
                                  "type": "string"
                                },
                                "theme": {
                                  "type": "string"
                                },
                                "intent": {
                                  "type": "string",
                                  "enum": [
                                    "",
                                    "discovery",
                                    "comparison",
                                    "purchase",
                                    "service",
                                    "local"
                                  ]
                                },
                                "buyer_stage": {
                                  "default": "",
                                  "type": "string",
                                  "enum": [
                                    "",
                                    "awareness",
                                    "consideration",
                                    "decision",
                                    "implementation"
                                  ]
                                },
                                "prompt_intent": {
                                  "default": "",
                                  "type": "string",
                                  "enum": [
                                    "",
                                    "learn",
                                    "solve",
                                    "compare",
                                    "recommend",
                                    "validate",
                                    "buy",
                                    "implement"
                                  ]
                                },
                                "cohort": {
                                  "type": "string",
                                  "enum": ["core", "brand_diagnostic", "comparison", "commerce"]
                                },
                                "branded": {
                                  "type": "boolean"
                                },
                                "enabled": {
                                  "type": "boolean"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": ["active", "archived"]
                                },
                                "origin": {
                                  "type": "string",
                                  "enum": ["manual", "imported", "generated"]
                                },
                                "created_at": {
                                  "type": "string"
                                },
                                "updated_at": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "prompt_set_id",
                                "text",
                                "theme",
                                "intent",
                                "buyer_stage",
                                "prompt_intent",
                                "cohort",
                                "branded",
                                "enabled",
                                "status",
                                "origin"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "project_id",
                          "name",
                          "prompts",
                          "created_at",
                          "updated_at"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "workspace_id",
                    "name",
                    "brand_name",
                    "website_url",
                    "industry",
                    "subindustry",
                    "primary_market",
                    "country_code",
                    "language_code",
                    "benchmark_mode",
                    "default_repetitions",
                    "brand",
                    "owned_domains",
                    "unintended_domains",
                    "competitors",
                    "prompt_sets",
                    "created_at",
                    "updated_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/projects/{project_id}/site-crawls/{crawl_id}/pages": {
      "get": {
        "tags": ["site-crawls"],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "site_url_id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "crawl_id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "normalized_url": {
                            "type": "string"
                          },
                          "display_url": {
                            "type": "string"
                          },
                          "title": {
                            "type": ["string", "null"]
                          },
                          "monitored": {
                            "type": "boolean"
                          },
                          "analysis_status": {
                            "type": "string",
                            "enum": [
                              "not_selected",
                              "not_measured",
                              "pending",
                              "running",
                              "completed",
                              "partially_completed",
                              "failed",
                              "error",
                              "blocked",
                              "cancelled"
                            ]
                          },
                          "error_code": {
                            "type": "string"
                          },
                          "issue_count": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "web_fundamentals_score": {
                            "type": ["number", "null"]
                          },
                          "web_fundamentals_coverage": {
                            "type": ["number", "null"]
                          },
                          "web_fundamentals_state": {
                            "type": "string",
                            "enum": ["measured", "limited_evidence", "not_measured", "excluded"]
                          },
                          "aeo_readiness_score": {
                            "type": ["number", "null"]
                          },
                          "aeo_measurement_coverage": {
                            "type": ["number", "null"]
                          },
                          "aeo_measurement_state": {
                            "type": "string",
                            "enum": ["measured", "limited_evidence", "not_measured", "excluded"]
                          },
                          "aeo_measurement_reason": {
                            "type": "string"
                          },
                          "main_content_indexable": {
                            "type": ["boolean", "null"]
                          },
                          "last_audited": {
                            "type": ["string", "null"]
                          },
                          "page_kind": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "homepage",
                                  "article",
                                  "editorial_index",
                                  "product",
                                  "category",
                                  "pricing",
                                  "docs",
                                  "faq",
                                  "about_contact",
                                  "service",
                                  "local",
                                  "guide",
                                  "how_to",
                                  "listicle",
                                  "comparison",
                                  "alternative",
                                  "case_study_review",
                                  "trust_policy",
                                  "other"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "inbound_count": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "main_content_inbound_count": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "depth_from_home": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "site_url_id",
                          "crawl_id",
                          "normalized_url",
                          "display_url",
                          "title",
                          "monitored",
                          "analysis_status",
                          "error_code",
                          "issue_count",
                          "web_fundamentals_score",
                          "web_fundamentals_coverage",
                          "web_fundamentals_state",
                          "aeo_readiness_score",
                          "aeo_measurement_coverage",
                          "aeo_measurement_state",
                          "aeo_measurement_reason",
                          "main_content_indexable",
                          "last_audited",
                          "page_kind",
                          "inbound_count",
                          "main_content_inbound_count",
                          "depth_from_home"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "next_cursor": {
                      "type": ["string", "null"]
                    },
                    "root_errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "target": {
                            "type": "string"
                          },
                          "outcome": {
                            "type": "string"
                          },
                          "error_code": {
                            "type": "string"
                          },
                          "status_code": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "latency_ms": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "method",
                          "target",
                          "outcome",
                          "error_code",
                          "status_code",
                          "latency_ms"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["items", "next_cursor", "root_errors"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "crawl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "monitored",
            "in": "query",
            "required": false,
            "schema": {
              "type": ["boolean", "null"]
            }
          },
          {
            "name": "page_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "default": "status",
              "type": "string",
              "enum": ["status", "url", "inbound", "main_content_inbound", "depth"]
            }
          }
        ]
      }
    },
    "/v1/projects/{project_id}/site-crawls/{crawl_id}/issues": {
      "get": {
        "tags": ["site-crawls"],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "group_id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "crawl_id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "rule_id": {
                            "type": "string"
                          },
                          "page_kinds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "dimension": {
                            "type": "string",
                            "enum": ["technical", "aeo"]
                          },
                          "category": {
                            "type": "string"
                          },
                          "severity": {
                            "type": "string",
                            "enum": ["critical", "high", "medium", "low", "info"]
                          },
                          "finding_class": {
                            "type": "string",
                            "enum": ["defect", "advisory", "diagnostic"]
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "remediation": {
                            "type": "string"
                          },
                          "remediation_route": {
                            "type": "string"
                          },
                          "affected_url_count": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "analyzer_version": {
                            "type": "string"
                          },
                          "rule_version": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "group_id",
                          "crawl_id",
                          "rule_id",
                          "page_kinds",
                          "dimension",
                          "category",
                          "severity",
                          "finding_class",
                          "title",
                          "description",
                          "remediation",
                          "remediation_route",
                          "affected_url_count",
                          "analyzer_version",
                          "rule_version",
                          "created_at"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "next_cursor": {
                      "type": ["string", "null"]
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "issue_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "defect_issue_type_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "advisory_issue_type_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "occurrence_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "severity_counts": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          }
                        },
                        "dimension_counts": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          }
                        },
                        "affected_url_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "monitored_affected_url_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "issue_count",
                        "defect_issue_type_count",
                        "advisory_issue_type_count",
                        "occurrence_count",
                        "severity_counts",
                        "dimension_counts",
                        "affected_url_count",
                        "monitored_affected_url_count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": ["items", "next_cursor", "summary"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "crawl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "severity",
            "in": "query",
            "required": false,
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "dimension",
            "in": "query",
            "required": false,
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "rule",
            "in": "query",
            "required": false,
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "site_url_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid",
                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "page_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "finding_class",
            "in": "query",
            "required": false,
            "schema": {
              "default": "defect",
              "type": "string",
              "enum": ["defect", "advisory"]
            }
          }
        ]
      }
    },
    "/v1/projects/{project_id}/site-health": {
      "get": {
        "tags": ["site-health"],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project_id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "crawl": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "workspace_id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "project_id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "profile_id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "draft",
                                "validating",
                                "queued",
                                "running",
                                "paused",
                                "completed",
                                "partially_completed",
                                "failed",
                                "cancelled"
                              ]
                            },
                            "discovery_status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "running",
                                "stopped",
                                "completed",
                                "sample_completed",
                                "failed",
                                "cancelled"
                              ]
                            },
                            "analysis_status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "running",
                                "stopped",
                                "completed",
                                "partially_completed",
                                "failed",
                                "cancelled"
                              ]
                            },
                            "root_url": {
                              "type": "string"
                            },
                            "sample_mode": {
                              "type": "boolean"
                            },
                            "seed": {
                              "type": "string"
                            },
                            "inventory_complete": {
                              "type": "boolean"
                            },
                            "partial_reason": {
                              "type": "string",
                              "enum": [
                                "",
                                "discovery_incomplete",
                                "analysis_incomplete",
                                "discovery_and_analysis_incomplete"
                              ]
                            },
                            "visible_url_count": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "analyzed_count": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "failed_count": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "discovery_requested_count": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "analysis_requested_count": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "counters": {
                              "type": "object",
                              "properties": {
                                "discovered": {
                                  "anyOf": [
                                    {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "selected": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "queued": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "running": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "analyzed": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "errors": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "blocked": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "failure_breakdown": {
                                  "type": "object",
                                  "properties": {
                                    "robots_denied": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "http_4xx": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "http_5xx": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "timeout": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    }
                                  },
                                  "required": ["robots_denied", "http_4xx", "http_5xx", "timeout"],
                                  "additionalProperties": false
                                },
                                "activity": {
                                  "type": "object",
                                  "properties": {
                                    "state": {
                                      "type": "string",
                                      "enum": ["working", "waiting", "stalled", "terminal"]
                                    },
                                    "reason": {
                                      "type": "string",
                                      "enum": [
                                        "active_work",
                                        "host_gate",
                                        "retry_backoff",
                                        "expired_lease",
                                        "terminal"
                                      ]
                                    },
                                    "queue_depth": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "next_available_at": {
                                      "type": ["string", "null"]
                                    }
                                  },
                                  "required": [
                                    "state",
                                    "reason",
                                    "queue_depth",
                                    "next_available_at"
                                  ],
                                  "additionalProperties": false
                                },
                                "by_page_kind": {
                                  "type": "object",
                                  "propertyNames": {
                                    "type": "string"
                                  },
                                  "additionalProperties": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  }
                                }
                              },
                              "required": [
                                "discovered",
                                "selected",
                                "queued",
                                "running",
                                "analyzed",
                                "errors",
                                "blocked",
                                "failure_breakdown",
                                "activity",
                                "by_page_kind"
                              ],
                              "additionalProperties": false
                            },
                            "discovered_count": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "total_url_count": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "has_more_site_urls": {
                              "type": ["boolean", "null"]
                            },
                            "score_summary": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "web_fundamentals_score": {
                                      "type": ["number", "null"]
                                    },
                                    "web_fundamentals_coverage": {
                                      "type": ["number", "null"]
                                    },
                                    "web_fundamentals_state": {
                                      "type": "string",
                                      "enum": [
                                        "measured",
                                        "limited_evidence",
                                        "not_measured",
                                        "excluded"
                                      ]
                                    },
                                    "aeo_readiness_score": {
                                      "type": ["number", "null"]
                                    },
                                    "aeo_measurement_coverage": {
                                      "type": ["number", "null"]
                                    },
                                    "aeo_measurement_state": {
                                      "type": "string",
                                      "enum": [
                                        "measured",
                                        "limited_evidence",
                                        "not_measured",
                                        "excluded"
                                      ]
                                    },
                                    "search_eligibility": {
                                      "type": "string",
                                      "enum": ["eligible", "blocked", "unknown", "excluded"]
                                    },
                                    "classified_page_count": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 9007199254740991
                                    },
                                    "other_page_count": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 9007199254740991
                                    },
                                    "classification_error_page_count": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 9007199254740991
                                    },
                                    "classification_expected_page_count": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 9007199254740991
                                    },
                                    "classification_coverage": {
                                      "anyOf": [
                                        {
                                          "type": "number",
                                          "minimum": 0,
                                          "maximum": 1
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "classification_state": {
                                      "type": "string",
                                      "enum": ["complete", "partial", "not_measured"]
                                    },
                                    "classification_reason_groups": {
                                      "type": "object",
                                      "propertyNames": {
                                        "type": "string"
                                      },
                                      "additionalProperties": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 9007199254740991
                                      }
                                    },
                                    "classification_formula_version": {
                                      "type": "string"
                                    },
                                    "classification_source_analysis_ids": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "format": "uuid",
                                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                      }
                                    },
                                    "classification_source_artifact_ids": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "format": "uuid",
                                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                      }
                                    },
                                    "classification_source_task_ids": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "format": "uuid",
                                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                      }
                                    },
                                    "scored_page_kind_set": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "enum": [
                                          "homepage",
                                          "article",
                                          "editorial_index",
                                          "product",
                                          "category",
                                          "pricing",
                                          "docs",
                                          "faq",
                                          "about_contact",
                                          "service",
                                          "local",
                                          "guide",
                                          "how_to",
                                          "listicle",
                                          "comparison",
                                          "alternative",
                                          "case_study_review",
                                          "trust_policy",
                                          "other"
                                        ]
                                      }
                                    },
                                    "scored_page_count_by_kind": {
                                      "type": "object",
                                      "propertyNames": {
                                        "type": "string",
                                        "enum": [
                                          "homepage",
                                          "article",
                                          "editorial_index",
                                          "product",
                                          "category",
                                          "pricing",
                                          "docs",
                                          "faq",
                                          "about_contact",
                                          "service",
                                          "local",
                                          "guide",
                                          "how_to",
                                          "listicle",
                                          "comparison",
                                          "alternative",
                                          "case_study_review",
                                          "trust_policy",
                                          "other"
                                        ]
                                      },
                                      "additionalProperties": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 9007199254740991
                                      }
                                    },
                                    "selected_count": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "analyzed_count": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "issue_count": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "scoring_version": {
                                      "type": "string"
                                    },
                                    "by_page_kind": {
                                      "type": "object",
                                      "propertyNames": {
                                        "type": "string"
                                      },
                                      "additionalProperties": {
                                        "type": "object",
                                        "properties": {
                                          "analyzed_count": {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          "web_fundamentals_score": {
                                            "type": ["number", "null"]
                                          },
                                          "web_fundamentals_coverage": {
                                            "type": ["number", "null"]
                                          },
                                          "web_fundamentals_state": {
                                            "type": "string",
                                            "enum": [
                                              "measured",
                                              "limited_evidence",
                                              "not_measured",
                                              "excluded"
                                            ]
                                          },
                                          "aeo_readiness_score": {
                                            "type": ["number", "null"]
                                          },
                                          "aeo_measurement_coverage": {
                                            "type": ["number", "null"]
                                          },
                                          "aeo_measurement_state": {
                                            "type": "string",
                                            "enum": [
                                              "measured",
                                              "limited_evidence",
                                              "not_measured",
                                              "excluded"
                                            ]
                                          },
                                          "aeo_measurement_reason": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "analyzed_count",
                                          "web_fundamentals_score",
                                          "web_fundamentals_coverage",
                                          "web_fundamentals_state",
                                          "aeo_readiness_score",
                                          "aeo_measurement_coverage",
                                          "aeo_measurement_state",
                                          "aeo_measurement_reason"
                                        ],
                                        "additionalProperties": false
                                      }
                                    }
                                  },
                                  "required": [
                                    "web_fundamentals_score",
                                    "web_fundamentals_coverage",
                                    "web_fundamentals_state",
                                    "aeo_readiness_score",
                                    "aeo_measurement_coverage",
                                    "aeo_measurement_state",
                                    "search_eligibility",
                                    "classified_page_count",
                                    "other_page_count",
                                    "classification_error_page_count",
                                    "classification_expected_page_count",
                                    "classification_coverage",
                                    "classification_state",
                                    "classification_reason_groups",
                                    "classification_formula_version",
                                    "classification_source_analysis_ids",
                                    "classification_source_artifact_ids",
                                    "classification_source_task_ids",
                                    "scored_page_kind_set",
                                    "scored_page_count_by_kind",
                                    "selected_count",
                                    "analyzed_count",
                                    "issue_count",
                                    "scoring_version",
                                    "by_page_kind"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "failure_summary": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "message": {
                                      "type": "string"
                                    },
                                    "attempts": {
                                      "anyOf": [
                                        {
                                          "type": "integer",
                                          "minimum": -9007199254740991,
                                          "maximum": 9007199254740991
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "status_code": {
                                      "anyOf": [
                                        {
                                          "type": "integer",
                                          "minimum": -9007199254740991,
                                          "maximum": 9007199254740991
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "target_url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "code",
                                    "message",
                                    "attempts",
                                    "status_code",
                                    "target_url"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "site_facts": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "propertyNames": {
                                    "type": "string"
                                  },
                                  "additionalProperties": {}
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "extractor_version": {
                              "type": "string"
                            },
                            "analyzer_version": {
                              "type": "string"
                            },
                            "rule_version": {
                              "type": "string"
                            },
                            "scoring_version": {
                              "type": "string"
                            },
                            "error_message": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            },
                            "started_at": {
                              "type": ["string", "null"]
                            },
                            "completed_at": {
                              "type": ["string", "null"]
                            }
                          },
                          "required": [
                            "id",
                            "workspace_id",
                            "project_id",
                            "profile_id",
                            "status",
                            "discovery_status",
                            "analysis_status",
                            "root_url",
                            "sample_mode",
                            "seed",
                            "inventory_complete",
                            "partial_reason",
                            "visible_url_count",
                            "analyzed_count",
                            "failed_count",
                            "discovery_requested_count",
                            "analysis_requested_count",
                            "counters",
                            "total_url_count",
                            "score_summary",
                            "failure_summary",
                            "site_facts",
                            "extractor_version",
                            "analyzer_version",
                            "rule_version",
                            "scoring_version",
                            "error_message",
                            "created_at",
                            "updated_at",
                            "started_at",
                            "completed_at"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "score_summary": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "web_fundamentals_score": {
                              "type": ["number", "null"]
                            },
                            "web_fundamentals_coverage": {
                              "type": ["number", "null"]
                            },
                            "web_fundamentals_state": {
                              "type": "string",
                              "enum": ["measured", "limited_evidence", "not_measured", "excluded"]
                            },
                            "aeo_readiness_score": {
                              "type": ["number", "null"]
                            },
                            "aeo_measurement_coverage": {
                              "type": ["number", "null"]
                            },
                            "aeo_measurement_state": {
                              "type": "string",
                              "enum": ["measured", "limited_evidence", "not_measured", "excluded"]
                            },
                            "search_eligibility": {
                              "type": "string",
                              "enum": ["eligible", "blocked", "unknown", "excluded"]
                            },
                            "classified_page_count": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "other_page_count": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "classification_error_page_count": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "classification_expected_page_count": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "classification_coverage": {
                              "anyOf": [
                                {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 1
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "classification_state": {
                              "type": "string",
                              "enum": ["complete", "partial", "not_measured"]
                            },
                            "classification_reason_groups": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "classification_formula_version": {
                              "type": "string"
                            },
                            "classification_source_analysis_ids": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              }
                            },
                            "classification_source_artifact_ids": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              }
                            },
                            "classification_source_task_ids": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              }
                            },
                            "scored_page_kind_set": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "homepage",
                                  "article",
                                  "editorial_index",
                                  "product",
                                  "category",
                                  "pricing",
                                  "docs",
                                  "faq",
                                  "about_contact",
                                  "service",
                                  "local",
                                  "guide",
                                  "how_to",
                                  "listicle",
                                  "comparison",
                                  "alternative",
                                  "case_study_review",
                                  "trust_policy",
                                  "other"
                                ]
                              }
                            },
                            "scored_page_count_by_kind": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string",
                                "enum": [
                                  "homepage",
                                  "article",
                                  "editorial_index",
                                  "product",
                                  "category",
                                  "pricing",
                                  "docs",
                                  "faq",
                                  "about_contact",
                                  "service",
                                  "local",
                                  "guide",
                                  "how_to",
                                  "listicle",
                                  "comparison",
                                  "alternative",
                                  "case_study_review",
                                  "trust_policy",
                                  "other"
                                ]
                              },
                              "additionalProperties": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "selected_count": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "analyzed_count": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "issue_count": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "scoring_version": {
                              "type": "string"
                            },
                            "by_page_kind": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "object",
                                "properties": {
                                  "analyzed_count": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "web_fundamentals_score": {
                                    "type": ["number", "null"]
                                  },
                                  "web_fundamentals_coverage": {
                                    "type": ["number", "null"]
                                  },
                                  "web_fundamentals_state": {
                                    "type": "string",
                                    "enum": [
                                      "measured",
                                      "limited_evidence",
                                      "not_measured",
                                      "excluded"
                                    ]
                                  },
                                  "aeo_readiness_score": {
                                    "type": ["number", "null"]
                                  },
                                  "aeo_measurement_coverage": {
                                    "type": ["number", "null"]
                                  },
                                  "aeo_measurement_state": {
                                    "type": "string",
                                    "enum": [
                                      "measured",
                                      "limited_evidence",
                                      "not_measured",
                                      "excluded"
                                    ]
                                  },
                                  "aeo_measurement_reason": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "analyzed_count",
                                  "web_fundamentals_score",
                                  "web_fundamentals_coverage",
                                  "web_fundamentals_state",
                                  "aeo_readiness_score",
                                  "aeo_measurement_coverage",
                                  "aeo_measurement_state",
                                  "aeo_measurement_reason"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "web_fundamentals_score",
                            "web_fundamentals_coverage",
                            "web_fundamentals_state",
                            "aeo_readiness_score",
                            "aeo_measurement_coverage",
                            "aeo_measurement_state",
                            "search_eligibility",
                            "classified_page_count",
                            "other_page_count",
                            "classification_error_page_count",
                            "classification_expected_page_count",
                            "classification_coverage",
                            "classification_state",
                            "classification_reason_groups",
                            "classification_formula_version",
                            "classification_source_analysis_ids",
                            "classification_source_artifact_ids",
                            "classification_source_task_ids",
                            "scored_page_kind_set",
                            "scored_page_count_by_kind",
                            "selected_count",
                            "analyzed_count",
                            "issue_count",
                            "scoring_version",
                            "by_page_kind"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "phase": {
                      "type": "string",
                      "enum": ["empty", "discovering", "analyzing", "dashboard", "terminal"]
                    },
                    "snapshot_id": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "quota": {
                      "type": "object",
                      "properties": {
                        "used": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "limit": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": ["used", "limit"],
                      "additionalProperties": false
                    },
                    "root_errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "target": {
                            "type": "string"
                          },
                          "outcome": {
                            "type": "string"
                          },
                          "error_code": {
                            "type": "string"
                          },
                          "status_code": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "latency_ms": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "method",
                          "target",
                          "outcome",
                          "error_code",
                          "status_code",
                          "latency_ms"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "project_id",
                    "crawl",
                    "score_summary",
                    "phase",
                    "snapshot_id",
                    "quota",
                    "root_errors"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "crawl_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid",
                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                },
                {
                  "type": "null"
                }
              ]
            }
          }
        ]
      }
    },
    "/v1/projects/{project_id}/ai-traffic/pages": {
      "get": {
        "tags": ["ai-traffic"],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "window_start": {
                      "type": "string"
                    },
                    "window_end": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url_hash": {
                            "type": "string"
                          },
                          "canonical_url": {
                            "type": "string"
                          },
                          "display_path": {
                            "type": "string"
                          },
                          "folder": {
                            "type": "string"
                          },
                          "resource_class": {
                            "type": "string"
                          },
                          "crawl": {
                            "type": "object",
                            "properties": {
                              "state": {
                                "type": "string",
                                "enum": [
                                  "not_connected",
                                  "unknown",
                                  "unavailable",
                                  "zero",
                                  "value",
                                  "non_comparable",
                                  "flagged"
                                ]
                              },
                              "value": {
                                "type": ["number", "null"]
                              },
                              "coverage": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            },
                            "required": ["state", "value", "coverage", "reason"],
                            "additionalProperties": false
                          },
                          "referrals": {
                            "type": "object",
                            "properties": {
                              "state": {
                                "type": "string",
                                "enum": [
                                  "not_connected",
                                  "unknown",
                                  "unavailable",
                                  "zero",
                                  "value",
                                  "non_comparable",
                                  "flagged"
                                ]
                              },
                              "value": {
                                "type": ["number", "null"]
                              },
                              "coverage": {
                                "type": ["string", "null"]
                              },
                              "reason": {
                                "type": ["string", "null"]
                              }
                            },
                            "required": ["state", "value", "coverage", "reason"],
                            "additionalProperties": false
                          },
                          "citations": {
                            "type": "object",
                            "properties": {
                              "state": {
                                "type": "string",
                                "enum": [
                                  "not_connected",
                                  "unknown",
                                  "unavailable",
                                  "zero",
                                  "value",
                                  "non_comparable",
[...]
